In [1]:
# Import dependencies
import os
import pandas as pd
import datetime

In [2]:
# Import ADVANTAGE TIME data into a dataframe
InScope_df = pd.read_csv("Pulte In Scope Hours_.csv")
InScope_df.head()

,Employee Code,User ID,Employee,Employee First Name,Employee Last Name,Employee Last First,Employee Title,Employee Current Title,Employee Account Number,Is Employee Freelance,...,Function Consolidation Code,Function Consolidation Description,Client PO,Terminated,Terminated Date,Time Against Commission,Employment Date,Blackplate 1,Blackplate 2,Ad Number
0,jl9069,jay.lipscomb,Jay Lipscomb,Jay,Lipscomb,"Lipscomb, Jay",Content Creator,Content Creator,NaN,No,...,einpro,Interactive Production,NaN,N,NaN,0.0,NaN,NaN,NaN,NaN
1,jl9069,jay.lipscomb,Jay Lipscomb,Jay,Lipscomb,"Lipscomb, Jay",Content Creator,Content Creator,NaN,No,...,einpro,Interactive Production,NaN,N,NaN,0.0,NaN,NaN,NaN,NaN
2,jl9069,jay.lipscomb,Jay Lipscomb,Jay,Lipscomb,"Lipscomb, Jay",Content Creator,Content Creator,NaN,No,...,einpro,Interactive Production,NaN,N,NaN,0.0,NaN,NaN,NaN,NaN
3,jl9069,jay.lipscomb,Jay Lipscomb,Jay,Lipscomb,"Lipscomb, Jay",Content Creator,Content Creator,NaN,No,...,einpro,Interactive Production,NaN,N,NaN,0.0,NaN,NaN,NaN,NaN
4,jl9069,jay.lipscomb,Jay Lipscomb,Jay,Lipscomb,"Lipscomb, Jay",Content Creator,Content Creator,NaN,No,...,einpro,Interactive Production,NaN,N,NaN,0.0,NaN,NaN,NaN,NaN

In [3]:
# Pull out only necessary columns
Test_frame = ['Employee', 'Employee Current Title', 'Department Team', 'Job Number', 'Job Description', 'Date', 'Hours']
InScope_df = InScope_df[Test_frame]
InScope_df

,Employee,Employee Current Title,Department Team,Job Number,Job Description,Date,Hours
0,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/27/2023,2.0
1,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/28/2023,2.0
2,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/1/2023,2.0
3,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/2/2023,2.0
4,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/3/2023,2.0
...,...,...,...,...,...,...,...
842,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,1/10/2023,1.0
843,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,2/21/2023,1.5
844,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,2/24/2023,2.0
845,Haley Finch,Copywriter,Creative,22101,pt22101 - 2023 PulteGroup Broadcast Tagging,3/6/2023,1.0
846,Haley Finch,Copywriter,Creative,22101,pt22101 - 2023 PulteGroup Broadcast Tagging,3/7/2023,3.0

In [4]:
# Rename the "Department Team" column to "Service Department"
InScope_df = InScope_df.rename(columns={'Department Team': 'Service Department'})

# Rename the "Employee Current Title" column to "Service Description"
InScope_df = InScope_df.rename(columns={'Employee Current Title': 'Service Description'})
InScope_df

,Employee,Service Description,Service Department,Job Number,Job Description,Date,Hours
0,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/27/2023,2.0
1,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/28/2023,2.0
2,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/1/2023,2.0
3,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/2/2023,2.0
4,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/3/2023,2.0
...,...,...,...,...,...,...,...
842,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,1/10/2023,1.0
843,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,2/21/2023,1.5
844,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,2/24/2023,2.0
845,Haley Finch,Copywriter,Creative,22101,pt22101 - 2023 PulteGroup Broadcast Tagging,3/6/2023,1.0
846,Haley Finch,Copywriter,Creative,22101,pt22101 - 2023 PulteGroup Broadcast Tagging,3/7/2023,3.0

In [5]:
#Replace Advantage Job Descriptions with Burn Report Formatted Service Descriptions

InScope_df['Service Description'] = InScope_df['Service Description'].replace({
    'Group Client Director': 'Group/Global Client Director',
    'Client Director, Brand Experience': 'Brand Experience Client Director',
    'Account Director': 'Account/Client Director',
    'Project Management Supervisor|Project Manager|Project Manager, Learning & Development': 'Project/Resource Management Mgr/Sup',
    'Art Supervisor|Senior Designer': 'Senior Designer (Art Supe-McK Health)',
    'Content Creator|Creative Apprentice|Senior Content Creator': 'Content sCreator',
    'Art Director|Junior Art Director': 'Art Director',
    'Junior Copywriter': 'Copywriter',
    'Junior Designer': 'Designer'
})

In [6]:
# Strategy Service Description Consolidation 
InScope_df['Service Description'] = InScope_df['Service Description'].replace({
    'Director of Strategy|Strategy Lead|Director, Consumer & Brand Data': 'Director, Strategy (Strategy Lead-McK Health)',
    'Strategist, Consumer Research': 'Strategist',
    'Group Strategy Director': 'Group Strategy Director, Digital and Social',
    'Strategy Director, Digital and Social|Strategy Director, Social': 'Strategy Director, Digital and Social'
})

In [7]:
# Media Service Description Consolidation
InScope_df['Service Description'] = InScope_df['Service Description'].replace({
    'Executive Director, Media': 'Executive Director of Media',
    'Group Media Director, Strategy and Stewardship': 'Group Media Director, Strategy & Stewardship',
    'Group Media Director, Activation and Analytics': 'Group Media Director, Activation & Analytics',
    'Associate Media Director, Strategy and Stewardship': 'Assoc Media Director, Strategy & Stewardship',
    'Associate Media Director, Activation and Analytics': 'Assoc Media Director, Activation & Analytics',
    'Media Supervisor and Media Supervisor, Strategy and Stewardship': 'Media Supervisor, Strategy & Stewardship',
    'Media Supervisor, Activation and Analytics': 'Media Supervisor, Activation & Analytics',
    'Senior Media Planner': 'Sr Media Planner, Strategy & Stewardship/Activation & Analytics',
    'Media Analyst, Activation and Analytics': 'Media Analyst, Activation & Analytics',
    'Media Planner, Activation and Analytics|Media Planner, Strategy and Stewardship': 'Media Planner, Strategy & Stewardship',
    'Junior Programmatic Trader|Programmatic Trader': 'Programmatic Trader, Activation & Analytics',
    'Assistant Media Planner|Assistant Media Planner, Strategy and Stewardship': 'Assistant Media Planner, Strategy & Stewardship',
    'Ad Operations Specialist, Activation & Analytics': 'Ad Operations Specialist'
})

In [8]:

# InScope_df['Service Description'] = InScope_df['Service Description'].replace({

In [9]:

# InScope_df['Service Description'] = InScope_df['Service Description'].replace({

In [10]:

InScope_df #find titles that arent changing or recognized to have a service rate

,Employee,Service Description,Service Department,Job Number,Job Description,Date,Hours
0,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/27/2023,2.0
1,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/28/2023,2.0
2,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/1/2023,2.0
3,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/2/2023,2.0
4,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/3/2023,2.0
...,...,...,...,...,...,...,...
842,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,1/10/2023,1.0
843,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,2/21/2023,1.5
844,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,2/24/2023,2.0
845,Haley Finch,Copywriter,Creative,22101,pt22101 - 2023 PulteGroup Broadcast Tagging,3/6/2023,1.0
846,Haley Finch,Copywriter,Creative,22101,pt22101 - 2023 PulteGroup Broadcast Tagging,3/7/2023,3.0

In [11]:
#'Content Creator|Creative Apprentice|Senior Content Creator': 'Content sCreator',

In [12]:
# Import STAFFING PLAN data into a dataframe - STATIC
# staffingplan_df = pd.read_csv("staffplan.csv")
# staffingplan_df

In [13]:
# Rename the "Eployee Name" column to "Employee"
# staffingplan_df = staffingplan_df.rename(columns={'Employee Name': 'Employee'})
# staffingplan_df

In [14]:
# import pandas as pd

# # Create a range of dates from January 1, 2023 to December 31, 2023
# dates = pd.date_range('2023-01-01', '2023-12-31', freq='M')

# # Loop over the dates and create a new column in the dataframe for each month
# for date in dates:
#     month_year = date.strftime('%b %Y')
#     column_name = f'Hours Complete {month_year}'
#     staffingplan_df.insert(len(staffingplan_df.columns), column_name, 0) # insert new column with default value 0

In [15]:
#staffingplan_df.head()

In [16]:
InScope_df.head()

,Employee,Service Description,Service Department,Job Number,Job Description,Date,Hours
0,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/27/2023,2.0
1,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/28/2023,2.0
2,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/1/2023,2.0
3,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/2/2023,2.0
4,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/3/2023,2.0

In [17]:
InScope_df['Month']=pd.to_datetime(InScope_df['Date']).dt.month
InScope_df['Year']=pd.to_datetime(InScope_df['Date']).dt.year

In [18]:
#by ev erything but hours and date 
InScope_df.groupby(['Employee', 'Service Description', 'Service Department', 'Job Number', 'Job Description', 'Month', 'Year']).sum()

                                                                                                                                                      Hours
Employee      Service Description                          Service Department Job Number Job Description                                  Month Year
Barry Salus   Assoc Media Director, Activation & Analytics Media              22047      pt22047 - 2023 Pulte Media Time                  1     2023  59.50
                                                                                                                                          2     2023  43.50
                                                                                                                                          3     2023  19.00
Celina Santos Operations Coordinator                       Project Management 22010      pt22010 - 2023 PulteGroup Ongoing Monthly Social 1     2023  19.00
                                                                                                                                          2     2023   5.00
...                                                                                                                                                     ...
Sofia Alba    Designer                                     Creative           22010      pt22010 - 2023 PulteGroup Ongoing Monthly Social 3     2023  20.00
Walt Barron   Managing Director                            Strategy           22100      pt22100 - 2023 PulteGroup Brand Stewardship      1     2023   1.50
Will Finlay   Assoc Media Director, Strategy & Stewardship Media              22047      pt22047 - 2023 Pulte Media Time                  1     2023  48.00
                                                                                                                                          2     2023  55.25
                                                                                                                                          3     2023  12.00

[87 rows x 1 columns]

In [19]:
#Add a column to contain whether the work is In-Scope, Out-of-Scope, or MK Inv 
InScope_df['Scope'] = "InScope"
InScope_df

,Employee,Service Description,Service Department,Job Number,Job Description,Date,Hours,Month,Year,Scope
0,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/27/2023,2.0,2,2023,InScope
1,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/28/2023,2.0,2,2023,InScope
2,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/1/2023,2.0,3,2023,InScope
3,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/2/2023,2.0,3,2023,InScope
4,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/3/2023,2.0,3,2023,InScope
...,...,...,...,...,...,...,...,...,...,...
842,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,1/10/2023,1.0,1,2023,InScope
843,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,2/21/2023,1.5,2,2023,InScope
844,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,2/24/2023,2.0,2,2023,InScope
845,Haley Finch,Copywriter,Creative,22101,pt22101 - 2023 PulteGroup Broadcast Tagging,3/6/2023,1.0,3,2023,InScope
846,Haley Finch,Copywriter,Creative,22101,pt22101 - 2023 PulteGroup Broadcast Tagging,3/7/2023,3.0,3,2023,InScope

In [20]:
#by ev erything but hours and date 
# InScope_df.groupby([])

In [21]:
# InScope_df = InScope_df.drop_duplicates()

In [22]:
#InScope_df.pivot(index=['Employee','Service Description','Service Department','Job Number'],
             #columns=['Month','Year'], values='Hours')

In [23]:
# InScope_df['Service Description'].duplicated().sum()

In [24]:
#joined_df = InScope_df.merge(staffingplan_df, on=['Employee', 'Service Department'], how='left')
#joined_df

In [25]:
#BEGINNING OUT-Of-SCOPE BLOCK

In [26]:
OutOfScope_df = pd.read_csv("Pulte Out Scope Hours_.csv")
OutOfScope_df.head()

,Employee Code,User ID,Employee,Employee First Name,Employee Last Name,Employee Last First,Employee Title,Employee Current Title,Employee Account Number,Is Employee Freelance,...,Function Consolidation Code,Function Consolidation Description,Client PO,Terminated,Terminated Date,Time Against Commission,Employment Date,Blackplate 1,Blackplate 2,Ad Number
0,jl9069,jay.lipscomb,Jay Lipscomb,Jay,Lipscomb,"Lipscomb, Jay",Content Creator,Content Creator,NaN,No,...,einpro,Interactive Production,NaN,N,NaN,0.0,NaN,NaN,NaN,NaN
1,jl9069,jay.lipscomb,Jay Lipscomb,Jay,Lipscomb,"Lipscomb, Jay",Content Creator,Content Creator,NaN,No,...,einpro,Interactive Production,NaN,N,NaN,0.0,NaN,NaN,NaN,NaN
2,jl9069,jay.lipscomb,Jay Lipscomb,Jay,Lipscomb,"Lipscomb, Jay",Content Creator,Content Creator,NaN,No,...,einpro,Interactive Production,NaN,N,NaN,0.0,NaN,NaN,NaN,NaN
3,jl9069,jay.lipscomb,Jay Lipscomb,Jay,Lipscomb,"Lipscomb, Jay",Content Creator,Content Creator,NaN,No,...,einpro,Interactive Production,NaN,N,NaN,0.0,NaN,NaN,NaN,NaN
4,jl9069,jay.lipscomb,Jay Lipscomb,Jay,Lipscomb,"Lipscomb, Jay",Content Creator,Content Creator,NaN,No,...,einpro,Interactive Production,NaN,N,NaN,0.0,NaN,NaN,NaN,NaN

In [27]:
# Pull out only necessary columns
Test_frame = ['Employee', 'Employee Current Title', 'Department Team', 'Job Number', 'Job Description', 'Date', 'Hours']
OutOfScope_df = OutOfScope_df[Test_frame]
OutOfScope_df

,Employee,Employee Current Title,Department Team,Job Number,Job Description,Date,Hours
0,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/27/2023,2.0
1,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/28/2023,2.0
2,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/1/2023,2.0
3,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/2/2023,2.0
4,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/3/2023,2.0
...,...,...,...,...,...,...,...
842,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,1/10/2023,1.0
843,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,2/21/2023,1.5
844,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,2/24/2023,2.0
845,Haley Finch,Copywriter,Creative,22101,pt22101 - 2023 PulteGroup Broadcast Tagging,3/6/2023,1.0
846,Haley Finch,Copywriter,Creative,22101,pt22101 - 2023 PulteGroup Broadcast Tagging,3/7/2023,3.0

In [28]:
# Rename the "Department Team" column to "Service Department"
OutOfScope_df = OutOfScope_df.rename(columns={'Department Team': 'Service Department'})

# Rename the "Employee Current Title" column to "Service Description"
OutOfScope_df = OutOfScope_df.rename(columns={'Employee Current Title': 'Service Description'})
OutOfScope_df

,Employee,Service Description,Service Department,Job Number,Job Description,Date,Hours
0,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/27/2023,2.0
1,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/28/2023,2.0
2,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/1/2023,2.0
3,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/2/2023,2.0
4,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/3/2023,2.0
...,...,...,...,...,...,...,...
842,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,1/10/2023,1.0
843,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,2/21/2023,1.5
844,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,2/24/2023,2.0
845,Haley Finch,Copywriter,Creative,22101,pt22101 - 2023 PulteGroup Broadcast Tagging,3/6/2023,1.0
846,Haley Finch,Copywriter,Creative,22101,pt22101 - 2023 PulteGroup Broadcast Tagging,3/7/2023,3.0

In [29]:
#Replace Advantage Job Descriptions with Burn Report Formatted Service Descriptions

OutOfScope_df['Service Description'] = OutOfScope_df['Service Description'].replace({
    'Group Client Director': 'Group/Global Client Director',
    'Client Director, Brand Experience': 'Brand Experience Client Director',
    'Account Director': 'Account/Client Director',
    'Project Management Supervisor|Project Manager|Project Manager, Learning & Development': 'Project/Resource Management Mgr/Sup',
    'Art Supervisor|Senior Designer': 'Senior Designer (Art Supe-McK Health)',
    'Content Creator|Creative Apprentice|Senior Content Creator': 'Content sCreator',
    'Art Director|Junior Art Director': 'Art Director',
    'Junior Copywriter': 'Copywriter',
    'Junior Designer': 'Designer'
})

In [30]:
# Strategy Service Description Consolidation 
OutOfScope_df['Service Description'] = OutOfScope_df['Service Description'].replace({
    'Director of Strategy|Strategy Lead|Director, Consumer & Brand Data': 'Director, Strategy (Strategy Lead-McK Health)',
    'Strategist, Consumer Research': 'Strategist',
    'Group Strategy Director': 'Group Strategy Director, Digital and Social',
    'Strategy Director, Digital and Social|Strategy Director, Social': 'Strategy Director, Digital and Social'
})

In [31]:
# Media Service Description Consolidation
OutOfScope_df['Service Description'] = OutOfScope_df['Service Description'].replace({
    'Executive Director, Media': 'Executive Director of Media',
    'Group Media Director, Strategy and Stewardship': 'Group Media Director, Strategy & Stewardship',
    'Group Media Director, Activation and Analytics': 'Group Media Director, Activation & Analytics',
    'Associate Media Director, Strategy and Stewardship': 'Assoc Media Director, Strategy & Stewardship',
    'Associate Media Director, Activation and Analytics': 'Assoc Media Director, Activation & Analytics',
    'Media Supervisor and Media Supervisor, Strategy and Stewardship': 'Media Supervisor, Strategy & Stewardship',
    'Media Supervisor, Activation and Analytics': 'Media Supervisor, Activation & Analytics',
    'Senior Media Planner': 'Sr Media Planner, Strategy & Stewardship/Activation & Analytics',
    'Media Analyst, Activation and Analytics': 'Media Analyst, Activation & Analytics',
    'Media Planner, Activation and Analytics|Media Planner, Strategy and Stewardship': 'Media Planner, Strategy & Stewardship',
    'Junior Programmatic Trader|Programmatic Trader': 'Programmatic Trader, Activation & Analytics',
    'Assistant Media Planner|Assistant Media Planner, Strategy and Stewardship': 'Assistant Media Planner, Strategy & Stewardship',
    'Ad Operations Specialist, Activation & Analytics': 'Ad Operations Specialist'
})

In [32]:
OutOfScope_df

,Employee,Service Description,Service Department,Job Number,Job Description,Date,Hours
0,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/27/2023,2.0
1,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/28/2023,2.0
2,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/1/2023,2.0
3,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/2/2023,2.0
4,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/3/2023,2.0
...,...,...,...,...,...,...,...
842,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,1/10/2023,1.0
843,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,2/21/2023,1.5
844,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,2/24/2023,2.0
845,Haley Finch,Copywriter,Creative,22101,pt22101 - 2023 PulteGroup Broadcast Tagging,3/6/2023,1.0
846,Haley Finch,Copywriter,Creative,22101,pt22101 - 2023 PulteGroup Broadcast Tagging,3/7/2023,3.0

In [33]:
OutOfScope_df.head()

,Employee,Service Description,Service Department,Job Number,Job Description,Date,Hours
0,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/27/2023,2.0
1,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/28/2023,2.0
2,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/1/2023,2.0
3,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/2/2023,2.0
4,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/3/2023,2.0

In [34]:
OutOfScope_df['Month']=pd.to_datetime(OutOfScope_df['Date']).dt.month
OutOfScope_df['Year']=pd.to_datetime(OutOfScope_df['Date']).dt.year

In [35]:
#by ev erything but hours and date 
OutOfScope_df.groupby(['Employee', 'Service Description', 'Service Department', 'Job Number', 'Job Description', 'Month', 'Year']).sum()

                                                                                                                                                      Hours
Employee      Service Description                          Service Department Job Number Job Description                                  Month Year
Barry Salus   Assoc Media Director, Activation & Analytics Media              22047      pt22047 - 2023 Pulte Media Time                  1     2023  59.50
                                                                                                                                          2     2023  43.50
                                                                                                                                          3     2023  19.00
Celina Santos Operations Coordinator                       Project Management 22010      pt22010 - 2023 PulteGroup Ongoing Monthly Social 1     2023  19.00
                                                                                                                                          2     2023   5.00
...                                                                                                                                                     ...
Sofia Alba    Designer                                     Creative           22010      pt22010 - 2023 PulteGroup Ongoing Monthly Social 3     2023  20.00
Walt Barron   Managing Director                            Strategy           22100      pt22100 - 2023 PulteGroup Brand Stewardship      1     2023   1.50
Will Finlay   Assoc Media Director, Strategy & Stewardship Media              22047      pt22047 - 2023 Pulte Media Time                  1     2023  48.00
                                                                                                                                          2     2023  55.25
                                                                                                                                          3     2023  12.00

[87 rows x 1 columns]

In [36]:
#Add a column to contain whether the work is In-Scope, Out-of-Scope, or MK Inv 
OutOfScope_df['Scope'] = "OutOfScope"
OutOfScope_df

,Employee,Service Description,Service Department,Job Number,Job Description,Date,Hours,Month,Year,Scope
0,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/27/2023,2.0,2,2023,OutOfScope
1,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,2/28/2023,2.0,2,2023,OutOfScope
2,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/1/2023,2.0,3,2023,OutOfScope
3,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/2/2023,2.0,3,2023,OutOfScope
4,Jay Lipscomb,Content Creator,Creative,22010,pt22010 - 2023 PulteGroup Ongoing Monthly Social,3/3/2023,2.0,3,2023,OutOfScope
...,...,...,...,...,...,...,...,...,...,...
842,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,1/10/2023,1.0,1,2023,OutOfScope
843,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,2/21/2023,1.5,2,2023,OutOfScope
844,Lexie Brown,Strategist,Strategy,22100,pt22100 - 2023 PulteGroup Brand Stewardship,2/24/2023,2.0,2,2023,OutOfScope
845,Haley Finch,Copywriter,Creative,22101,pt22101 - 2023 PulteGroup Broadcast Tagging,3/6/2023,1.0,3,2023,OutOfScope
846,Haley Finch,Copywriter,Creative,22101,pt22101 - 2023 PulteGroup Broadcast Tagging,3/7/2023,3.0,3,2023,OutOfScope

In [37]:
Combined_df = pd.concat([InScope_df,OutOfScope_df], ignore_index=True)

In [39]:
Combined_df.to_csv('Pulte-Burn-Report-Data-2023.csv', index=False)